name: Build

on:
  push:
    branches:
    - main
    - master
    - release/**
  pull_request:
    branches:
    - main
    - master
    - release/**
  workflow_dispatch:

env:
  RUNNER_TOOL_CACHE: /toolcache

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: https://github.com/actions/checkout@v3

    - name: "Install dependencies and run tests"
      uses: act/common/npm/npm-test@master
      with:
        nodeVersion: 22
        testCommand: npm run test:coverage
        uploadCoverage: true

    - name: "Pack and compare the next version of the NPM package"
      id: get_version
      uses: act/common/npm/npm-pack-and-compare@master
      with:
        name: audiom-embedder
        registry: ${{ github.server_url }}/api/packages/${{ github.repository_owner }}/nuget/index.json
        apiKey: ${{ secrets.ACTIONS_TOKEN }}

    - run: |
        echo "Package name: ${{ steps.get_version.outputs.tgzName }}"
        echo "Package path: ${{ steps.get_version.outputs.tgz }}"
        echo "Has changed: ${{ steps.get_version.outputs.hasChanged }}"
      shell: bash

    - name: "Upload Artifacts"
      uses: https://github.com/actions/upload-artifact@v3
      with:
        name: ${{ steps.get_version.outputs.tgzName }}
        path: ${{ steps.get_version.outputs.tgz }}

    - name: "Publish the NPM package"
      if: ${{ steps.get_version.outputs.hasChanged == 'true' }}
      uses: act/common/npm/npm-push@master
      with:
        tgz: ${{ steps.get_version.outputs.tgz }}
        registry: ${{ github.server_url }}/api/packages/${{ github.repository_owner }}/npm/
        apiKey: ${{ secrets.ACTIONS_TOKEN }}
        access: public
